<%= image_tag @image.file.url, alt: 'Debate With Bernie', class: 'bernie' %>
<br />
<div class='share-btns'>
  <%= link_to 'Download', image_download_path(@image), target: '_blank', class: 'btn' %>
  <%= link_to 'Share on Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{image_url(@image.id)}", target: '_blank', class: 'btn' %>
  <%= link_to 'Share on Twitter', "https://twitter.com/intent/tweet?text=#{URI::encode('I created a picture to support @berniesanders at the debate! Make yours to #DebateWithBernie: ' + image_url(@image.id))}", target: '_blank', class: 'btn' %>
</div>
<%= link_to 'Make Your Own', pick_path, class: 'btn' %>
