<!DOCTYPE html>
<html>
  <head>
    <title><%= domain_hashtag %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= meta_tags(
      title: domain_title,
      viewport: 'width=500',
      twitter: {
        card: 'summary_large_image',
        site: '@berniesanders',
        title: "Create your image to #{domain_hashtag}!",
        description: domain_description(@image),
        image: @image ? @image.file.url : asset_url(domain_image, host: domain_host)
      },
      og: {
        title: domain_hashtag,
        url: @image ? image_share_url(@image.id, host: domain_host) : root_url(host: domain_host),
        image: @image ? @image.file.url : asset_url(domain_image, host: domain_host),
        description: "Just upload a photo, import from Facebook, or snap a selfie with your webcam. Then, use our simple editor to position it within the frame, and share it on Facebook and Twitter to #{domain_hashtag}!"
      }
    ) %>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= ENV['FB_APP_ID'] %>',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = '//connect.facebook.net/en_US/sdk.js';
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= yield %>

    <%= render partial: 'footer' %>
  </body>
</html>
